.help {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  color: #007bff;
  border-bottom: 1px dotted #007bff;
  /* position: relative;
  cursor: pointer;
  color: blue;
  text-decoration: underline; */
}

.help:hover::after {
  content: attr(explanation);
  display: block;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1000;
}

.submit-button,
.command-button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.command-button {
  background-color: #007bff;
}

.submit-button:hover {
  background-color: #00ff7b;
}

.command-button:hover {
  background-color: #0056b3;
}

.submit-button:hover {
  background-color: #00b356;
}